extends main_logged_in

block management  
    br
    button(type="button" id="addMachine") Dodaj maszynę
    br
    table
        for machine in machines
            tr
                td
                    input(type="text" class="machine-name" value=machine.name)
                    input(type="text" class="machine-srl" value=machine.serial_number)
                    input(type="text" class="machine-dscr" value=machine.description)
                    input(type="button" class="modify-button" value="Modyfikuj" machineId=machine.id)
                    input(type="button" class="delete-button" value="Usuń" machineId=machine.id)

    script(src="/scripts/admin/machine-mgmt.js" type="module")
            